@import "variables";
@media (max-width: 552px) {
    h1,
    h1,
    h3,
    h4,
    h5,
    h6 {
        font-size: 5vh;
    }

    .Hero_section {
        .Hero_info {
            h1 {
                line-height: 3.8rem;
                text-align: center;
                margin-top: -50px;
                margin-bottom: 25px;
                transform: translateX(-45px);
            }
            p {
                text-align: center;
                transform: translateX(-40px);
            }
            button {
                padding: 2vh 7vh;
                transform: translateX(-35px);
            }
        }
        .Hero_img {
            position: relative;
            img {
                margin-left: 20px;
            }
            .Hero_slyder {
                .owl-carousel {
                    height: 10vh;
                    width: 95vw;
                    position: absolute;
                    top: 200px;

                    .item {
                        width: 32vw;
                        height: auto;
                        padding-top: 15px;
                        transform: translateX(-25px);
                    }
                }
            }
        }
        .Hero_side_design {
            img {
                position: absolute;
                height: 180px;
                top: 10%;
                left: 20px;
                z-index: -1;
            }
        }
    }

    // Why_us====================================>

    .Why_us {
        .part_1 {
            padding-left: 25px;
            padding-top: 80px;
            p {
                font-weight: 600;
                color: $main_text_color;
                text-align: center;

                span {
                    padding-left: 10px;
                }
            }
            h1 {
                text-align: center;
            }
        }
        .part_2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            img {
                margin-bottom: -86px;
                padding-left: 50px;
                padding-top: -50px;
            }
            p {
                text-align: center;
                margin-left: 25px;
            }
        }
    }

    // Rated=============================================>
    .Rated {
        position: relative;
        .Rated_img {
            img {
                padding-top: 100px;
                padding-left: 20px;
            }
        }
        .Rated_info {
            display: flex;
            align-items: center;
            flex-direction: column;
            img {
                margin-bottom: -50px;
                padding-top: 10px;
            }
            h1 {
                text-align: center;
                margin-left: -30px;
            }
            .Rated_work_info {
                text-align: center;
                margin-left: -30px;
            }
            button {
                padding: 15px 45px 8px 45px;

                margin-top: 40px;
                margin-left: -35px;

                img {
                    height: 45px;
                    width: auto;
                    padding-top: 5px;
                }

                p {
                    padding-left: 20px;
                    padding-top: 8px;
                    font-weight: 600;
                    color: $main_text_color;
                }
            }
        }
        #Rated_side_section {
            #Rated_side_section_01 {
                position: absolute;
                top: 2%;
                left: 70%;
                z-index: -1;
                height: 100px;
                width: auto;
            }
            #Rated_side_section_02 {
                position: absolute;
                top: 120%;
                left: 5%;
                height: 150px;
            }
        }
    }

    // Just_stay ====================================================>

    .Just_stay {
        position: relative;
        padding-top: 150px;
        .just_stay_img {
            img {
                height: 45vh;
                width: auto;
                transform: translateX(-20px);
            }
        }
        .just_stay_info {
            img {
                transform: translateX(-4rem);
            }
            margin-top: 120px;
            display: flex;
            align-items: flex-end;
            flex-direction: column;
            justify-content: center;
            .just_information {
                text-align: end;

                h1 {
                    text-align: center;
                    transform: translateX(2rem);

                }
                p {
                    text-align: center;
                    transform: translateX(2rem);
                }
            }
            button {
                border: none;
                background-color: white;
                padding: 10px 35px 5px 25px;
                color: white;
                font-weight: 500;
                border-radius: 50px;
                box-shadow: 10px 10px 15px 15px #5a5a5a13;
                margin-top: 40px;
                margin-right: 70px;
                transform: translateX(15px);
    
                img {
                    height: 40px;
                    width: auto;
                    padding-top: 5px;
                    transform: translateX(10px);
                    margin-top: 2px;
                }
    
                p {
                    padding-left: -20px;
                    padding-top: 8px;
                    font-weight: 600;
                    color: $main_text_color;
                }
            }
        }
        .Just_stay_side_section {
            .Just_stay_side_section_01 {
                position: absolute;
                top: 10%;
                left: 40%;
                height: 170px;
            }
            .Just_stay_side_section_02 {
                position: absolute;
                top: 30%;
                left: 20%;
                z-index: -1;
                height: 35vh;
                width: auto;
            }
        }
    }

    // Make_partnership_section ===============================>

    .Make_partnership {
        position: relative;
        .Make_partnership_main {
            text-align: center;
        }
        .left-1 {
            align-items: center;
            padding-bottom: 40px;
            flex-direction: column-reverse;

            .info {
                padding: 60px;
                background-color: #6a00ff;
                border-radius: 0px 0px 8px 8px;

                h6 {
                    font-size: 26px;
                    line-height: 2rem;
                    color: white;
                }
                p {
                    color: white;
                    line-height: 1.5rem;
                    padding-top: 10px;
                }
            }
            .left-1_img {
                img {
                    border-radius: 8px 8px 0px 0px;
                    max-height: 300px;
                    height: 300px;
                    width: 100%;
                }
            }
        }

        .left-2 {
            align-items: center;
            padding-top: 20px;
            flex-direction: column;

            .info {
                padding: 60px;
                background-color: #ff8400;
                border-radius: 0px 0px 8px 8px;
                h6 {
                    font-size: 26px;
                    line-height: 2rem;
                    color: white;
                }
                p {
                    color: white;
                    line-height: 1.5rem;
                    padding-top: 10px;
                }
            }
            .left-2_img {
                img {
                    border-radius: 8px 8px 0px 0px;
                    max-height: 300px;
                    height: 300px;
                    width: 100%;
                }
            }
        }
        .right-1 {
            padding: 40px;
            .right-1_img {
                img {
                    border-radius: 8px 8px 0px 0px;
                }
            }
            .info {
                background-color: #ff0054;
                padding: 13px 20px 13px 20px;
                border-radius: 0px 0px 8px 8px;
                h6 {
                    font-size: 26px;
                    line-height: 2rem;
                    color: white;
                }
                p {
                    color: white;
                    line-height: 1.5rem;
                    padding-top: 5px;
                }
            }
        }
        button {
            border: none;
            background-color: white;
            padding: 18px 45px 8px 45px;
            color: white;
            font-weight: 500;
            border-radius: 50px;
            box-shadow: 10px 10px 15px 15px #5a5a5a13;
            margin-top: 90px;
            margin-right: 75px;

            img {
                height: 45px;
                width: auto;
                padding-top: 5px;
            }

            p {
                padding-left: 20px;
                padding-top: 8px;
                font-weight: 600;
                font-size: 18px;
                color: $main_text_color;
            }
        }
        .Make_partnership_side_section {
            .Make_partnership_side_section_01 {
                position: absolute;
                height: 200px;
                top: 80%;
                left: 10px;
                z-index: -1;
            }
            .Make_partnership_side_section_02 {
                position: absolute;
                height: 150px;
                top: 2%;
                left: 65%;
                z-index: -1;
            }
        }
    }
    //community_section ================================>

    .community_section {
        position: relative;
        margin-top: -5rem;
        .community_section_info {
            padding-top: 15rem;
            h1 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
        .community_section_img {
            padding-bottom: 20rem;
        }
        .community_section_side_section {
            .community_section_side_section_img_01 {
                position: absolute;
                top: 15%;
                left: 60%;
            }
            .community_section_side_section_02 {
                position: absolute;
                top: 50%;
                left: 20px;
                z-index: -1;
                height: 150px;
            }
        }
    }
}
