html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #f6fafc;
}

h1,
h1,
h3,
h4,
h5,
h6 {
  color: black;
  font-weight: 600;
  font-size: 7vh;
  line-height: 4rem;
}

p,
a {
  color: #707070;
  line-height: 2rem;
}

.animate__animated {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

/* Default code section end ============================================ */
.navbar-brand img {
  height: 42px;
  width: auto;
}

.container-fluid {
  max-width: 1400px;
}

.dropdown-menu {
  border: none;
  -webkit-box-shadow: 5px 5px 10px 10px rgba(129, 129, 129, 0.041);
          box-shadow: 5px 5px 10px 10px rgba(129, 129, 129, 0.041);
  padding: 10px 20px;
}

.dropdown-menu .dropdown-item {
  border-radius: 5px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #4B6FDB;
  color: white;
}

.navbar-nav .nav-item {
  margin: 0px 20px;
}

.navbar-nav .nav-item .nav-link {
  color: #707070;
}

.navbar-nav .nav-item .nav-link i {
  padding-left: 7px;
  font-size: 12px;
}

.btn_Sign-UP {
  border: none;
  background-color: #4B6FDB;
  padding: 12px 30px;
  color: white;
  font-weight: 500;
  border-radius: 16px;
  margin-left: 10px;
  -webkit-box-shadow: 10px 10px 15px 15px #acacac13;
          box-shadow: 10px 10px 15px 15px #acacac13;
}

.Hero_section {
  position: relative;
}

.Hero_section .Hero_info {
  padding: 150px 10px 20px 110px;
}

.Hero_section .Hero_info h1 {
  line-height: 3.8rem;
}

.Hero_section .Hero_info button {
  padding: 2vh 7vh;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 30px;
  color: #4B6FDB;
  background-color: white;
  -webkit-box-shadow: 5px 5px 10px 10px #acacac25;
          box-shadow: 5px 5px 10px 10px #acacac25;
  font-weight: 600;
  margin-top: 15px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.Hero_section .Hero_info button:hover {
  padding: 15px 75px;
  background-color: #4B6FDB;
  color: white;
}

.Hero_section .Hero_img {
  position: relative;
}

.Hero_section .Hero_img img {
  padding-right: 30px;
}

.Hero_section .Hero_img .Hero_slyder .owl-carousel {
  height: 14vh;
  width: 45vw;
  position: absolute;
  top: 350px;
  padding-left: 40px;
  background-color: #4B6FDB;
  border-radius: 35px 5px 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Hero_section .Hero_img .Hero_slyder .owl-carousel .item {
  width: 11vw;
  height: auto;
  padding-top: 10px;
}

.Hero_section .Hero_side_design img {
  position: absolute;
  height: 200px;
  top: 10%;
  left: 10px;
  z-index: -1;
}

.Why_us .part_1 {
  padding-left: 110px;
  padding-top: 60px;
}

.Why_us .part_1 p {
  font-weight: 600;
  color: #4B6FDB;
}

.Why_us .part_1 p span {
  padding-left: 10px;
}

.Why_us .part_2 img {
  margin-bottom: -56px;
  padding-left: 25px;
}

.Why_us .part_2 p {
  margin-left: 90px;
}

.Rated {
  position: relative;
}

.Rated .Rated_img img {
  padding-top: 70px;
  padding-left: 20px;
}

.Rated .Rated_info {
  padding-left: 40px;
}

.Rated .Rated_info img {
  margin-bottom: -50px;
  padding-top: 70px;
}

.Rated .Rated_info h1 {
  margin-left: 55px;
}

.Rated .Rated_info .Rated_work_info {
  margin-left: 55px;
}

.Rated .Rated_info button {
  border: none;
  background-color: white;
  padding: 2vh 7vh 1vh 7vh;
  color: white;
  font-weight: 500;
  border-radius: 50px;
  -webkit-box-shadow: 10px 10px 15px 15px #5a5a5a13;
          box-shadow: 10px 10px 15px 15px #5a5a5a13;
  margin-top: 40px;
  margin-left: 55px;
}

.Rated .Rated_info button img {
  height: 6vh;
  width: auto;
  padding-top: 5px;
}

.Rated .Rated_info button p {
  padding-left: 20px;
  padding-top: 8px;
  font-weight: 600;
  color: #4B6FDB;
}

.Rated #Rated_side_section #Rated_side_section_01 {
  position: absolute;
  top: 50px;
  left: 90%;
}

.Rated #Rated_side_section #Rated_side_section_02 {
  position: absolute;
  top: 100%;
  left: 80%;
  height: 220px;
}

.Just_stay {
  position: relative;
}

.Just_stay .just_stay_img img {
  height: 700px;
  width: auto;
  margin-left: 40px;
  margin-top: 150px;
}

.Just_stay .just_stay_info {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Just_stay .just_stay_info img {
  margin-bottom: -55px;
}

.Just_stay .just_stay_info .just_information {
  text-align: end;
}

.Just_stay .just_stay_info .just_information h1 {
  padding-right: 70px;
}

.Just_stay .just_stay_info .just_information p {
  padding-right: 75px;
}

.Just_stay .just_stay_info button {
  border: none;
  background-color: white;
  padding: 18px 45px 8px 45px;
  color: white;
  font-weight: 500;
  border-radius: 50px;
  -webkit-box-shadow: 10px 10px 15px 15px #5a5a5a13;
          box-shadow: 10px 10px 15px 15px #5a5a5a13;
  margin-top: 40px;
  margin-right: 70px;
}

.Just_stay .just_stay_info button img {
  height: 40px;
  width: auto;
  padding-top: 5px;
}

.Just_stay .just_stay_info button p {
  padding-left: 20px;
  padding-top: 5px;
  font-weight: 600;
  color: #4B6FDB;
}

.Just_stay .Just_stay_side_section .Just_stay_side_section_01 {
  position: absolute;
  top: 10%;
  left: 40%;
  height: 170px;
}

.Just_stay .Just_stay_side_section .Just_stay_side_section_02 {
  position: absolute;
  top: 30%;
  left: 30%;
  z-index: -1;
}

.Make_partnership {
  position: relative;
}

.Make_partnership .Make_partnership_main {
  text-align: center;
}

.Make_partnership .left-1 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}

.Make_partnership .left-1 .info {
  padding: 77px;
  background-color: #6a00ff;
  border-radius: 8px 0px 0px 8px;
}

.Make_partnership .left-1 .info h6 {
  font-size: 26px;
  line-height: 2rem;
  color: white;
}

.Make_partnership .left-1 .info p {
  color: white;
  line-height: 1.5rem;
  padding-top: 10px;
}

.Make_partnership .left-1 .left-1_img img {
  border-radius: 0px 8px 8px 0px;
  max-height: 300px;
  height: 300px;
  width: 100%;
}

.Make_partnership .left-2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.Make_partnership .left-2 .info {
  padding: 77px;
  background-color: #ff8400;
  border-radius: 0px 8px 8px 0px;
}

.Make_partnership .left-2 .info h6 {
  font-size: 26px;
  line-height: 2rem;
  color: white;
}

.Make_partnership .left-2 .info p {
  color: white;
  line-height: 1.5rem;
  padding-top: 10px;
}

.Make_partnership .left-2 .left-2_img img {
  border-radius: 8px 0px 0px 8px;
  max-height: 300px;
  height: 300px;
  width: 100%;
}

.Make_partnership .right-1 {
  padding: 0px 30px 30px 30px;
}

.Make_partnership .right-1 .right-1_img img {
  border-radius: 8px 8px 0px 0px;
}

.Make_partnership .right-1 .info {
  background-color: #ff0054;
  padding: 13px 20px 13px 20px;
  border-radius: 0px 0px 8px 8px;
}

.Make_partnership .right-1 .info h6 {
  font-size: 26px;
  line-height: 2rem;
  color: white;
}

.Make_partnership .right-1 .info p {
  color: white;
  line-height: 1.5rem;
  padding-top: 5px;
}

.Make_partnership button {
  border: none;
  background-color: white;
  padding: 2vh 7vh 1vh 7vh;
  color: white;
  font-weight: 500;
  border-radius: 50px;
  -webkit-box-shadow: 10px 10px 15px 15px #5a5a5a13;
          box-shadow: 10px 10px 15px 15px #5a5a5a13;
  margin-top: 40px;
  margin-left: 55px;
}

.Make_partnership button img {
  height: 6vh;
  width: auto;
  padding-top: 5px;
}

.Make_partnership button p {
  padding-left: 20px;
  padding-top: 8px;
  font-weight: 600;
  color: #4B6FDB;
}

.Make_partnership .Make_partnership_side_section .Make_partnership_side_section_01 {
  position: absolute;
  height: 400px;
  top: 55%;
  left: -40px;
  z-index: -1;
}

.Make_partnership .Make_partnership_side_section .Make_partnership_side_section_02 {
  position: absolute;
  height: 250px;
  top: 25%;
  left: 85%;
  z-index: -1;
}

.community_section {
  position: relative;
  margin-top: -5rem;
}

.community_section .community_section_info {
  padding-top: 30rem;
}

.community_section .community_section_info h1 {
  text-align: center;
}

.community_section .community_section_info p {
  text-align: center;
}

.community_section .community_section_img {
  padding-bottom: 40px;
}

.community_section .community_section_side_section .community_section_side_section_img_01 {
  position: absolute;
  top: 42%;
  left: 40%;
}

.community_section .community_section_side_section .community_section_side_section_02 {
  position: absolute;
  top: 40%;
  left: -40px;
  z-index: -1;
  height: 200px;
}
/*# sourceMappingURL=style.css.map */